.admin-table-container {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    height: 800px;
    justify-content: center;
    background: white;
}

.table-container-header {
    text-align: center;
    padding: 0.5% 0;
    margin: 0;
    border-bottom: 1px solid silver;
    color: #2691d9;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    min-width: 500px;
}

thead, tbody {
    display: block;
    justify-content: space-around;
}

tbody td, thead th, thead th:last-child {
    width: 250px;
    max-width: 250px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table thead tr {
    background-color: #2691d9;
    color: #ffffff;
    text-align: center;
}

.table thead th {
    padding: 12px;
}

.table tbody {
    height: 550px;
    overflow-y: scroll;
}

.table tbody td {
    padding: 12px;
    border: 1px solid silver;
}

.table tbody tr {
    border-bottom: 1px solid silver;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #2691d9;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #2691d9;
}

.action-container {
    display: flex;
    justify-content: space-around;
}

#action-btn {
    border: 0 solid;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    margin: 0 1%;
    width: 30%;
}

#action-btn:hover {
    opacity: 0.8;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: .5s;
}

.view-btn {
    background: #2691d9;
}

.edit-btn {
    background: #51c481;
}

.delete-btn {
    background: #FA8072;
}